html{
    position: relative;
    overflow: auto;
    width: 100%;
    left: 150px;
    top: 50px;
}

body{
    background-color: antiquewhite;
}

h6{
    font-family: 'Lucida Grande', sans-serif;
    font-size: 0.8em;
    text-align: center;
}

.container{
    display: flex;
    width: 1000px;
    height: 800px;
    justify-content: space-between;
    /**flex-direction: row-reverse;**/
    
}

.sidebar{
    overflow: auto;
    border: 2px solid #fff;
    height: 190px;
    width: 147px;
    background-color: gray;
}

.sidebar p{
    font-size: 12.3px;
}

.posts{
    border: 2px solid #fff;
    height: 550px;
    width: 540px;
    background-color: pink;
    flex-flow: column nowrap;
}

.im_dumb{
    display: flex;
    flex-flow: column nowrap;
}

.info{
    border: 2px solid black;
    border-radius: 5px;
    height: 38px;
    width: 490px;
    padding: 0px 0px 20px 20px;
    margin: 15px;
}

.content{
    height: 200px;
    width: 320px;

    align-self: center;
}

.posts img{
    padding: ;
    width: 280px;
    height: 180px;
    margin-left: 10px;
}

.description{
    text-align: center;
}

.buttons{
    margin-top: 180px;
    align-self: center;
    flex-flow: column nowrap;
}

#message{
    text-align: center;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: thistle;
    padding: 10px;
}

#home{
    text-align: center;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: thistle;
    padding: 10px;
}

#Page{
    text-align: center;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: thistle;
    padding: 10px;
}

